/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './scaffold.css';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
@font-face {
  font-family: 'Raw Print Formal';
  src: url('../data/fonts/raw-print-formal_regular.otf') format('opentype'),
    url('../data/fonts/raw-print-formal_regular.woff') format('woff'),
    url('../data/fonts/raw-print-formal_regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.article.title {
  @apply text-center font-bold;
}
.article.date {
  @apply text-sm italic;
}
.article.body {
  @apply flex flex-col gap-8;
}
.article.section {
  @apply flex flex-col gap-4;
}
.article.h2 {
  @apply text-lg font-semibold;
}
.article.p {
  @apply text-justify;
}
.article.a {
  @apply underline text-sky-600;
}

.input-label {
  @apply text-gray-600 text-sm font-semibold;
}

.input-field {
  @apply text-sm p-2 bg-white border border-gray-200 rounded outline-none focus:border-gray-400;
}

.flex-center {
  @apply flex justify-center items-center;
}

.spin {
  @apply animate-spin border-blue-600 border-t-2 border-r-2 border-b-2 h-5 w-5 rounded-full;
}

.absolute-fit {
  @apply absolute top-0 bottom-0 left-0 right-0;
}

.relative-fit {
  @apply relative top-0 bottom-0 left-0 right-0;
}

.submit-button {
  @apply flex;
  @apply justify-center;
  @apply py-1 px-4;
  @apply border-0;
  @apply rounded;
  @apply bg-violet-600 hover:bg-violet-900;
  @apply text-gray-900 hover:text-gray-300;
  @apply text-xs;
  @apply font-semibold;
  @apply uppercase;
  @apply tracking-wide;
  @apply leading-loose;
  @apply no-underline;
  @apply cursor-pointer;
  @apply transition;
  @apply duration-100;
}

.cell-error,
.form-error-wrapper {
  @apply p-4 bg-red-50 text-red-600 border border-red-100 rounded my-4;
}

.input-label-error {
  @apply text-red-600;
}

.input-field-error {
  @apply border-red-600 text-red-600;
}

.input-field-error:focus {
  @apply border-red-600 outline-none;
  box-shadow: 0 0 5px #c53030;
}

.input-error {
  @apply font-semibold text-xs text-red-600 uppercase;
}

.logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  mix-blend-mode: exclusion;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.truncate-overflow {
  line-clamp: 6;
}

.shader-web-background-fallback {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
